*{
    padding: 0;
    margin: 0;

}

.heading{
    background-color: #081b31;
    color: white;
    height: 70px;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.head{
    display: flex;
    width:90%;
    justify-content: center;

}
.button{
    display: flex;
    justify-self: end;
    text-align: end;
    

    
}
#reset{
    font-size: 2rem;
    background-color: black;
    color:white;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.choice:hover{
    cursor: pointer;
    background-color: black;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.scores-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}

#user-score,#comp-score{
font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
    background-color: black;
    color:white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 30%;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20rem
    
}

.hide{
    display: none;
}